/* DEFAULTS */

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}

/* LAYOUT */

header, .body-wrapper {
  padding: 10px 10vw;
}

section {
  padding: 0 2vw;
}

footer {
  padding: 10px 20px;
}

header {
  min-height: 10vh;
}

.body-wrapper {
  min-height: 64vh;
}

input, textarea {
  width: 300px;
  margin-bottom: 10px;
}

form label {
  display: block;
  margin-right: 30px;
}

form button {
  display: block;
}

footer span {
  display: inline-block;
}

/* TYPEOGRAPHY */

html {
  font-family: 'Muli', 'Helvetica Light', 'Helvetica Neue', sans-serif;
  font-size: 15px;
  line-height: 1.5;
  color: #444;
}

header h1 {
  font-family: 'Fredericka the Great', 'Helvetica Light', 'Helvetica Neue', serif;
  font-size: 3rem;
  margin: 0px;
  font-weight: 100;
}

h1, h2, h3, h4, h5 {
  color: #333;
}

h1 {
  margin: 0.3rem 0 0.8rem;
  font-size: 2rem;
  font-family: 'Dosis', 'Helvetica Light', 'Helvetica Neue', sans-serif;
}

h2 {
  margin: 1.4rem 0 0.4rem;
  font-size: 1.2rem;
}

h3 {
  margin: 0.5rem 0;
  font-size: 1rem;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

strong {
  color: black;
  font-weight: 900;
}

footer {
  font-size: 0.8rem;
}

/* COLOURS */

body {
  color: #3B413C;
}

header {
  border-bottom: 1px solid #888;
}

header a {
  display: flex;
  justify-content: flex-end;
}

header h1 {
  vertical-align: middle;
}

header a {
  background-color: inherit;
  color: #555;
}

header a:hover {
  color: #FF6978;
  text-decoration: none;
  background-color: inherit;
  cursor: pointer;
}

a {
  color: #3FB6D3;
  padding: 2px;
}

a.external {
  color: #FF6978;
}

/* SPECIAL STYLES */

.bold {
  font-weight: bold;
}

.flex {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

/* SECTIONS */
nav {
  margin: 5px auto;
  max-width: 800px;
}

nav ul {
  margin: 0 2vw;
  padding: 0;
  list-style: none;
  display: flex;
  height: 100%;
  justify-content: space-around;
}

nav li {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

nav li {
  color: #888888;
  font-family: 'Dosis', sans-serif;
}

nav li a:hover, nav li a.active {
  background: #3FB6D3;
  color: white;
}

nav a {
  display: inline-block;
  margin: 0 8px;
  padding: 3px 10px;
  color: inherit;
  align-self: center;
  cursor: pointer;
}

nav a:hover {
  text-decoration: none;
}

nav a.active {
  font-weight: bold;
}

footer {
  display: flex;
  justify-content: space-between;
}

/* HOME */
div.content {
  display: flex;
  justify-content: space-between;
}

div img {
  max-width: 300px;
  display: block;
  border-radius: 5px;
  margin: 5px auto;
}

div.content div.image-carousel {
  align-items: center;
  overflow-x: scroll;
  display: flex;
  background: #FFFCF9;
  border: #B1E1ED 2px solid;
  padding: 10px;
}

@media screen and (max-width: 500px) {
  html {
    font-size: 13px;
  }
  
  header h1 {
    font-size: 2rem;
  }
  
  header, .body-wrapper {
    padding: 2vh 5vw;
  }

  h1 {
    font-size: 1.5rem;
  }

  div.content {
    flex-direction: column;
  }

  nav {
    margin: 0;
  }

  nav a {
    margin: 0;
    font-size: 0.8rem;
  }

  footer div {
    width: 100vw;
    margin-top: 5px;
  }

  footer {
    flex-wrap: wrap;
  }
}

@media (min-width: 501px) and (max-width: 770px) {
  section {
    padding-left: 4vw;
    padding-right: 4vw;
  }

  .flex {
    display: block;
  }

  footer div {
    width: 100vw;
    margin-top: 5px;
  }

  footer {
    flex-wrap: wrap;
  }
}
