/* DEFAULTS */

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}

/* LAYOUT */

header, section {
  padding: 20px 15vw;
}

footer {
  padding: 20px;
}

header {
  height: 20vh;
}

section {
  height: 60vh;
  /* overflow-y: scroll; */
}

footer {
  height: 12vh;
}
nav {
  height: 8vh;
}

footer span {
  display: inline-block;
}

/* TYPEOGRAPHY */

html {
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  line-height: 1.4;
}

header h1 {
  font-family: 'Ubuntu Mono', monospace;
}

h1, h2, h3 {
  font-weight: normal;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

nav {
  font-size: 1.2rem;
}

/* COLOURS */

body {
  color: #3B413C;
  background-color: #FFFFFF;
}

header {
  border-bottom: 2px solid #94D1BE;
}

header h1 {
  display: flex;
  justify-content: flex-end;
}

nav a, header a {
  background-color: inherit;
  color: inherit;
}

a {
  color: #57917E;
  padding: 2px;
}

/* SPECIAL STYLES */

.quote {
  color: #72612F;
  font-family: 'IBM Plex Sans', sans-serif;
  font-style: italic;
}

.bold {
  font-weight: bold;
}

.logo {
  width: 60px;
}

.woman {
  color: #72612F;
}

/* SECTIONS */
nav {
  margin: 0;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: center;
}

nav li {
  margin: 0;
}

nav a {
  display: inline-block;
  padding: 7px 2px 0;
  margin: 0 8px;
}

nav a:hover, header a:hover {
  text-decoration: underline;
  background-color: inherit;
}

nav a.active {
  font-weight: bold;
}

footer {
}

/* HOME */
section#about img {
  width: 200px;
  border: 4px solid #b6bcb7;
  border-radius: 50%;
}

section#about h1 {
  z-index: 10;
  margin: -180px 0 0 207px;
  font-size: 2.5em;
}

section#about h2 {
  margin: 0 0 0 215px;
  font-size: 2.5em;
}

section#about h2 + p {
  margin-top: 80px;
}

section.content {
  display: flex;
  justify-content: space-between;
}

section.content img {
  width: 200px;
  height: 200px;
  display: block;
  border-radius: 10px;
  margin-right: 10px;
}

section.content div {
  width: 40%;
}

section.content div.detail {
  display: flex;
  width: 60%;
  overflow-x: scroll;
}

section#maker, section#software {
  /* background: #72612F55; */
}

@media screen and (max-width: 500px) {
  html {
    font-size: 16px;
  }
  
  header, section {
    padding: 20px 10vw;
  }
  
  section#about img {
    width: 150px;
  }
  
  section#about h1 {
    font-size: 1.6em;
    margin: -130px 0 0 150px;
  }
  
  section#about h2 {
    margin: 0 0 0 155px;
    font-size: 1.6em;
  }

  section#about h2 + p {
    margin-left: 0;
    margin-top: 80px;
  }
}

@media (min-width: 501px) and (max-width: 770px) {
  section#about h1, section#about h2 {
    font-size: 2.3em;
  }
  
  section#about h2 + p {
    margin-left: 0;
    margin-top: 80px;
  }
}